body {
  padding: 0px;
  margin: 0px;
  font: 14pt "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
button {
  cursor: pointer;
  margin: 5px;
  font-size: 12pt;
}

.nav1 {
  background-color: white;

}

.nav2 {
  background-color: rgb(186, 186, 255);
}

.navWrap {
  display: flex;
  flex-direction: column;
}
.indexWrap {
  background-color: white;
}

.authorForm {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.notImplemented {
  background-color: lightcoral;
  border: none;
}

.countElements {
  margin: 15px;
}

.localLibraryHomeTitle {
  margin: 15px;
}

.indexTitle {
 margin: 15px;
 font-weight: bold;
}

.bookInstanceListElement {
  padding: 5px;
}

.bookInstanceStatus {
color: red;
}

.bookInstanceAvailable {
  color: green;
  background-color: lightgreen;
}

.authorTitle {
  margin: 15px;
}

.genreListTitle {
  margin: 15px;
}

.bookInstanceListTitle {
  margin: 15px;
}

.bookListTitle {
  margin: 15px;
}

.genreBookTitle {
color: rgb(95, 181, 95);
cursor: pointer;
width: fit-content;
}

.genreListElement {
  padding: 5px;
}


.bookDetailCopiesWrapper {
background-color: rgb(217, 217, 217);
padding: 15px;
}

.bookDetailCopiesTitle {
  margin: 15px;
}
.greenStatus {
  color: rgb(20, 194, 20);
}
.otherStatus {
color: black;
}

.deleteButton {
background-color: red;
color: white;
border: none;
cursor: pointer;
padding: 8px;
}

.returnHome {
  background-color: blue;
  border: none;
  cursor: pointer;
  color: white;
  padding: 8px;
}

.bookForm {
  display: flex;
  flex-direction: column;
  width: 50%;
  border: 2px solid black;
  padding: 15px;
  margin: 0 auto;
  margin-top: 15px;
}

.genreCheckboxWrap {
/* background-color: rgb(136, 136, 255); */
display: flex;
flex-direction: row;
justify-content: center;
/* border: 1px solid black; */
}

.genreCheckbox {
padding: 10px;
}

.ISBNWrapper, .summaryWrapper {
display: flex;
flex-direction: row;
justify-content: space-between;
padding: 5px;
}