body {
  margin: 0;
  padding: 0;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: tan;
}

a {
  color: #00B7FF;
}
button {
  cursor: pointer;
}
.authorCount {
  margin-bottom: 5px;
}
.nav1 {
  background-color: red;
  display: flex;
  flex-direction: column;
}

.nav2 {
  background-color: blue;
  display: flex;
  flex-direction: column;
}

.navWrap {
  width: 180px;
  display: flex;
  flex-direction: column;
  background-color: red;
}