extends layout

block content
  div.indexWrap
    h1.localLibraryHomeTitle Local Library
    div.authorCount 
      h3 The library has the following record counts:
      div Authors: #{authorCount}
      div Books: #{bookCount}
      div Genres: #{genreCount}
      div Book Instances: #{bookInstanceCount}
