extends layout 

block content
  h1.bookListTitle=title
  ul    
    each book in books 
      li 
        a(href=book.url) #{book.title}
        | (#{book.author.name})
    else
      li There are no books.