extends layout 
block content 
  h1.genreListTitle Genre: #{genre.name}

  h4 Books
  ul
    each book in booksWithGenre 
      li.genreListElement
        a(href=book.url)
          div.genreBookTitle #{book.title}
        div #{book.summary}
    else 
      li no results    
